@import "tailwindcss";

.background {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, #b8e0f5, #e5c5f0);
    z-index: 5;
}

.square {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.square1 {
    width: 82vw;
    aspect-ratio: 1 / 1;
    left: -50vw;
    top: -82vw; 
    transform-origin: right;
    transform: rotate(0deg);
    z-index: 4;
    transition: transform 600ms ease;
}

.square2 {
    width: 130vw;
    aspect-ratio: 1 / 1;
    left: -106vw;
    top: -130vw;
    transform-origin: right;
    transform: rotate(45deg);
    transition: transform 600ms ease;
    z-index: 3;
}

.square3 {
    width: 130vw;
    aspect-ratio: 1 / 1;
    left: -97vw;
    top: -130vw;
    transform: rotate(0deg);
    transform-origin: bottom right;
    transition: transform 800ms ease;
    z-index: 1;
}

.square1.mounted {
    transform: rotate(-30deg);
}

.square2.mounted {
    transform: rotate(-50deg);
}

.square3.mounted {
    transform: rotate(-75deg);
}


.nav-glass {
    background-color: rgba(23, 23, 23, 0.25);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(15, 14, 14, 0.2);
    border: 1px solid rgba(71, 67, 67, 0.1);
}

.nav-bullet {
    position: relative;
    margin-left: 1em;
}

.nav-bullet::before {
    content: "";
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0;

    top: 50%;
    left: 0.9rem;
    width: 0.3rem;
    height: 0.3rem;

    will-change: opacity, transform;
    transform: translateY(-50%);
    transition:
        opacity 120ms ease,
        transform 280ms cubic-bezier(.34, 1.9, .64, 1);
}

.nav-bullet:hover::before {
    opacity: 1;
    transform: translate(-27px, -50%);
}

.nav-bullet:active::before {
    opacity: 0;
    transform: translateY(-50%) scale(1);
    transition: opacity 200ms ease, transform 200ms ease;
}

.glow {
    display: block;
    cursor: pointer;
    padding: 0.75rem 0;
    transition: all 0.2s ease;
}

.glow:hover {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}

.loading {
    width: 3em;
    height: 3em;
    border: 4px solid #ddd;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 900ms linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}