@import "tailwindcss";

body {
    background-color: white;
}

.nav-bullet {
    position: relative;
    padding-left: 1em;
}

.nav-bullet::before {
    content: "";
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0;

    top: 50%;
    left: 0.9rem;
    width: 0.3rem;
    height: 0.3rem;

    will-change: opacity, transform;
    transform: translateY(-50%);
    transition:
        opacity 120ms ease,
        transform 280ms cubic-bezier(.34, 1.9, .64, 1);
}

.nav-bullet:hover::before {
    opacity: 1;
    transform: translate(-11px, -50%);
}

.nav-bullet:active::before {
    opacity: 0;
    transform: translateY(-50%) scale(1);
    transition: opacity 200ms ease, transform 200ms ease;
}

.glow {
    display: block;
    cursor: pointer;
    padding: 0.75rem 0;
    transition: all 0.2s ease;
}

.glow:hover {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}